<div class="main" *ngIf="techStack.viewSkillBars" wmAnimate="fadeInUp" aos speed="normal">
  <div class="skills-main-div">
  <div class="skills-text-div" wmAnimate="fadeInLeft" aos speed="normal">
      <h1 class="skills-heading">Skill Set</h1>
      <div class="skill" *ngFor="let exp of techStack.experience">
        <p>{{exp.Stack}}</p>
        <div class="meter">
          <span [style]=progressStyle(exp.progressPercentage)></span>
        </div>
      </div>
    </div>
  
 
    <!-- <div class="skills-image-div" wmAnimate="fadeInRight" aos speed="normal">
    <img alt="Skills" src="../../assets/images/skill.svg" class="skills-image-div">
    </div> -->
  </div>  
  </div>
  